{% extends "base.html" %}


{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


  <div class="card text-center">
  <div class="card-header">
    Revival Fire
  </div>
  <div class="card-body">
    <h5 class="card-title">Welcome</h5>
    <p class="card-text">"Call unto me, and I will answer thee, and shew thee great and mighty things, which thou knowest not." Jeremiah
    33:3</p>
{#    <a href="#" class="btn btn-primary">Go somewhere</a>#}

<div hx-select=".form-control">
    <form method="post" action={% url "request-form" %} class="form-control"
        hx-boost="true"
        hx-target="this"
        hx-swap="outerHTML"
        hx-trigger="once">
        <hr/>


        {% csrf_token %}
        {{ form|crispy }}

{#        {% if not request.htmx %}#}
          <input class="btn btn-primary" type="submit" name="Save" />
{#        {% else %}#}
{#          <img class="htmx-indicator" src="{% static 'img/three-dots.svg'%}"/>#}
{#        {% endif %}#}
    </form>
  </div>
  </div>
  <div class="card-footer text-muted">
{#    <a>By (David Anyatonwu) w/ Django</a>#}
     <span>© </span><a href="https://www.linkedin.com/in/david-anyatonwu-79165988">Onyedikachi</a>
  </div>
</div>
{% endblock content %}
