{% extends "base.html" %}


{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

  <table class="table table-striped">
    {% for p_request in object_list %}
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Prayer Requests</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{ p_request.id }}</th>
        <td>{{ p_request.request }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  
{% endblock content %}


